/* Haden's Custom Theme */

* {
  bg: #2E3440;

  background-color: transparent;
  text-color: #EBDBB2;
}

window {
  location: center;
  width: 480;

  background-color: @bg;
}

inputbar {
  spacing: 10px; 
  padding: 5px;
}

listview {
  padding: 8px;
  lines: 6;
  columns: 1;
}

element {
  padding: 1px;
}
